In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("missingdata").getOrCreate()

In [2]:
df = spark.read.csv("/FileStore/tables/walmart/ContainsNull.csv",header=True,inferSchema=True)

In [3]:
df.show()

In [4]:
#Drop the missing data
#df.na.drop(how='any', thresh=None, subset=None)
##If 'any', drop a row if it contains any nulls.
##If 'all', drop a row only if all its values are null.
#param subset: 
#   optional list of column names to consider.
# Drop any row that contains missing data
df.na.drop().show()

In [5]:
# Has to have at least 2 NON-null values
df.na.drop(thresh=2).show()

In [6]:
df.na.drop(subset=["Sales"]).show()

In [7]:
df.na.drop(how='any').show()

In [8]:
df.na.drop(how='all').show()

In [9]:
#Fill the missing values
df.na.fill('NEW VALUE').show()

In [10]:
df.na.fill(0).show()

In [11]:
#based on column
df.na.fill('No Name',subset=['Name']).show()

In [12]:
df.na.fill(0,subset="Sales").show()

In [13]:
df.na.fill({'Sales':0,'Name':'No Name'}).show()

In [14]:
#fill values with the mean value for the column
from pyspark.sql.functions import mean
mean_val = df.select(mean(df['Sales'])).collect()

# Weird nested formatting of Row object!
mean_val[0][0]

In [15]:
mean_sales = mean_val[0][0]
df.na.fill(mean_sales,["Sales"]).show()

In [16]:
#  one-liner
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()